.main-content {
    display: block;
    overflow: hidden;
    margin: 0 auto;
}

.logo-main img {
    width: 132px;
    height: 132px;
    border-radius: 100%;
    border: 1px solid #0000;
}

.sidebar-left {
    background: #efefef;
    padding: 50px 6px;
    float: left;
    width: 100%;
    height: calc(100% - 0px);
}

.navbar-lists {
    float: left;
    width: 100%;
}

.dasboard-title span {
    display: flex;
    margin: auto;
    padding: 0 13px;
}

.dasboard-title span img {
    vertical-align: middle;
    margin-right: 15px;
    width: 33px;
}

.dasboard-title p {
    margin: 0;
    color: #fff;
    font-size: 19px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

.dasboard-title {
    padding: 23px 0;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.09);
    background-image: linear-gradient(194deg, #327fc9 100%, #2b6ba8 1%);
    background-image: linear-gradient(-90deg, #327fc9, #2b6ba8);
}

.logo-main {
    padding-bottom: 27px;
    border-bottom: 1px solid #327fc9;
    margin-bottom: 30px;
}

.list-nav {
    padding: 45px 29px;
}

.list-nav li.list-group-item img {
    width: 36px;
    margin-right: 27px;
}

.list-nav li.list-group-item {
    margin-bottom: 48px;
    border: none;
    padding: 0;
}

.list-nav li.list-group-item a {
    color: #164c81;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    display: block;
    background: #fff;
    padding: 22px 17px;
    line-height: 50px;
    text-decoration: none;
}


.list-nav li.list-group-item.active a {
    color: #fff;
    background-image: linear-gradient(-90deg, #327fc9, #2b6ba8);
}

.left-option .active img {
    border: 1px solid transparent;
}

.left-option {
    float: left;
    width: 530px;
    padding: 14px 45px;
    box-sizing: border-box;
    display: flex;
}

.left-option a {
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    height: 55px;
    display: flex;
    padding-right: 13px;
    border: 1px solid #ddd;
}



.left-option a img {
    margin: 0 10px 0 0;
    width: 44px;
    margin: auto 11px auto 0;
    border-right: 1px solid #ddd;
    height: 53px;
    padding: 0 10px;
}

.left-option .active{
padding: 0;
border: 1px solid transparent;
}

.left-option .active span {
    background: #164c81;
    color: #fff;
    padding: 16px 21px;
    display: inline-block;
}

.left-option  span {
    color: #666;
    margin: auto;
}

header {
    width: 100%;
    float: left;
    box-shadow: #ececec 3px 2px 7px 0px;
}

.account-widget {
    position: absolute;
    background: #fff;
    top: 83px;
    width: 100%;
    box-shadow: #c1c0c0 0px 1px 7px 0px;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.5s;
    z-index: 4;
}

.account-widget.opensidemenu {
    opacity: 1;
    visibility: visible;
}

.right-option {
    float: right;
    width: 25%;
    background-image: linear-gradient(109deg, #3f81c1 -2%, #236eba);
    padding: 15px 0;
}

.drop-list a {
    color: #fff;
    position: relative;
    margin: auto;
}

.drop-list a:after {
    position: absolute;
    content: "";
    width: 16px;
    height: 12px;
    background-color: #ffffff;
    transform: rotate(178deg);
    top: 19px;
    transform: translate(-50%);
    right: -23px;
    clip-path: polygon(35% 0, 68% 66%, 101% -1%);
}

.drop-list {
    display: flex;
}

.drop-list img {
    width: 53px;
    height: 53px;
    border-radius: 100%;
}


.account-widget ul {
    list-style-type: none;
    padding: 0;
}

.account-widget ul li img {
    width: 21px;
    margin-right: 13px;
}

.account-widget ul li  a {
    color: #666;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding: 15px 23px;
    display: block;
}

.account-widget ul li {
    border-bottom: 1px solid #ddd;
}

.right-option a {
    text-decoration: none;
}

.account-widget ul li a:hover {
    color: #3b7ec0;
}

.main-component {
    padding: 40px 38px;
    float: left;
    width: 100%;
}

.dash-head h4 span {color: #b7afaf;}

.template-1 {
    width: 100%;
    background: #f7f7f7;
    height: 288px;
    float: left;
}

.left-upload {
    width: 46%;
    height: 288px;
    display: flex;
    flex-direction: column;
    background: #164c81;
    float: left;
}

.left-upload .upload-preview {
    margin: auto;
    width: 124px;
    height: 124px;
    overflow: hidden;
    border-radius: 100%;
    border: 5px solid #327fc9;
    background: #fff;
    display: flex;
    flex-direction: column;
    margin-bottom: 27px;
}

.left-upload .upload-preview img {
    max-width: 100%;
    margin: auto;
    width: 100%;
}

.left-upload .usertitle-preview {
    color: #fff;
    text-align: CENTER;
    margin: auto;
    margin-top: 0px;
}

.custom-right {
    float: left;
    width: 54%;
    padding: 14px 10px;
    padding-left: 20px;
}

.field-set {
    display: flex;
}

.field-set img {
    vertical-align: top;
    margin-right: 12px;
}

.field-set p {
    margin: 0;
    font-size: 12px;
}

.field-set {
    border: 1px solid #ddd;
    margin-bottom: 21px;
    padding: 10px;
    width: 100%;
}

.dash-head h4 {
    float: left;
    width: 100%;
    margin-bottom: 25px;
}

.social-list ul li {
    margin: auto;
}

.social-list ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.social-list ul li img {
    width: 31px;
}

.social-list {
    display: flex;
    width: 74%;
    flex-direction: column;
    margin: auto;
    margin-top: 14px;
}

.layer-skyblue:after {
    position: absolute;
    right: -9px;
    content: "";
    top: 50%;
    width: 18px;
    height: 70%;
    background: #327fc9;
    transform: translateY(-50%);
}

.left-upload:after {
    content: "";
    position: absolute;
    bottom: 16px;
    width: 8px;
    height: 13px;
    background: #164c81;
    right: -7px;
    transform: translateY(-10%);
}

.left-upload:before {
    content: "";
    position: absolute;
    top: 16px;
    width: 8px;
    height: 13px;
    background: #164c81;
    right: -7px;
    transform: translateY(10%);
}

.usertitle-preview .job-titles {
    text-transform: uppercase;
}


.options-btn {
    margin-top: 39px;
    float: left;
    width: 100%;
}

.dark-btn {
    outline: none;
    border: none;
    background: #164c81;
    color: #fff;
    padding: 13px 22px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.white-btn {
    outline: none;
    border: none;
    background: #fff;
    color: #164c81;
    padding: 12px 22px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: 1px solid #164c81;
}

.options-btn button {
    margin: 0 12px;
}

.card-options .form-group input {
    border: none;
    font-family: Helvetica;
    text-align: left;
    color: #000000;
    font-size: 15px;
    box-shadow: none;
    padding: 0 0;
}

.card-options .form-group {
    border: 1px solid #c5c4c4;
    display: flex;
    padding: 0 6px;
    height: 44px;
}

.card-options .form-group input::placeholder {
    color: #716262;
}

.card-options .form-group.url-upld img {
    width: 28px;
    height: 28px;
    margin: auto 12px auto auto;
}


.upload-opn {
    overflow: hidden;
}

.upload-opn img {
    float: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
}

.upload-opn input {
    margin-left: -59px;
    width: 271px;
    cursor: pointer;
    line-height: 30px;
}

.upload-opn input:after {
    content: "";
    position: absolute;
    top: 0;
    width: 144px;
    background: #fff;
    height: 36px;
    left: -103px;
}

.template-showcase {
    float: left;
    width: 100%;
}


.template-showcase .owl-theme button {
    outline: none;
}

.template-showcase .owl-nav {
    position: absolute;
    top: 46%;
    width: 100%;
    transform: translateY(-50%);
}

.template-showcase  button.owl-prev {
    float: left;
}

.template-showcase button.owl-next {
    float: right;
}



.template-showcase button span {
    font-size: 0px;
    display: block;

}


.template-showcase .owl-theme .owl-nav [class*=owl-]:hover {
    background: #164c81;
}

.template-showcase .owl-theme button.owl-prev{
    position: relative;
    float: left;
    left: -16px;
    width: 61px;
    height: 63px;
}

.template-showcase .owl-theme button.owl-next{
    position: relative;
    float: right;
    right: -16px;
    width: 61px;
    height: 63px;
}

.template-showcase .owl-theme button.owl-prev span{
    background: url('./../images/arrow-left.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 27px;
    background-size: cover;
    margin: auto;
}

.template-showcase .owl-theme button.owl-next span{
    background: url('./../images/arrow-right.png');
    width: 16px;
    height: 26px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    text-align: center;
    font-size: 0px;
}

.template-showcase .owl-carousel.owl-theme button {
    background: #164c81;
}

.card-options {
    float: left;
    width: 100%;
}

.template-2 {
    background: #fff;
}

.template-2 .left-upload {
    background: #eb7b4b;
    width: 33%;
}

.template-2 .left-upload .upload-preview {
    border: 3px solid #fff;
    background: transparent;
    position: relative;
    margin: auto;
    width: 140px;
    height: 140px;
}

.round-layer {
    position: absolute;
    width: 119px;
    height: 122px;
    border: 3px solid #fff;
    left: -9px;
    border-radius: 100%;
    top: 3px;
}

.template-2 .left-upload:before,
.template-2 .left-upload:after {
    background: transparent;
}

.layer-triangle1 {
    width: 58px;
    height: 252px;
    border-left: solid 70px rgb(235, 123, 75,0.9);
    border-bottom: solid 172px transparent;
    border-top: solid 116px transparent;
    position: absolute;
    right: -69px;
    top: 0;
}

.template-2 .custom-right {
    width: 64%;
    padding-left: 83px;
}

.layer-triangle2 {
    width: 58px;
    height: 288px;
    border-left: solid 65px rgb(235, 123, 75, 0.8);
    border-bottom: solid 170px transparent;
    border-top: solid 119px transparent;
    position: absolute;
    right: -55px;
    top: 0;
}


.layer-topangle {
    width: 60px;
    height: 30px;
    border-top: solid 59px rgb(22, 76, 129);
    border-left: solid 46px transparent;
    border-right: solid 51px transparent;
    position: absolute;
    right: -87px;
}

.layer-bottomangle {
    width: 94px;
    height: 100px;
    border-bottom: solid 61px rgb(22, 76, 129);
    border-left: solid 32px transparent;
    border-right: solid 61px transparent;
    position: absolute;
    bottom: 0;
    right: -89px;
}

.template-2 .left-upload .upload-preview .round-layer {
    left: -12px;
    width: 140px;
    height: 140px;
    top: 5px;
}

.template-2 .left-upload .upload-preview img {
    width: 70%;
}


.hover-view {
    width: 100%;
    display: flex;
    height: 100%;
    position: absolute;
    top: 0;
    flex-direction: column;
    background: rgb(22, 76, 129, 0.8);
    opacity: 0;
    visibility: hidden;
}

.view-eye, .share-info {margin: auto;cursor: pointer;}

.view-eye {
    margin-bottom: 0px;
    width: 40px;
    height: 40px;
    background: #fff;
    text-align: center;
    border-radius: 100%;
    line-height: 35px;
}

.share-info {
    margin-top: 20px;
}

.share-info {
    width: 40px;
    height: 40px;
    background: #fff;
    text-align: center;
    border-radius: 100%;
    line-height: 35px;
}

.template-1:hover .hover-view{
    opacity: 1;
    visibility: visible;
}


.template-3 .left-upload{
    background: url('../images/layerbga.png');
    background-size: contain;
    height: 285px;
    background-repeat: no-repeat;
    background-position: right;
}

.template-3 {
    background: #f6f4f5;
    float: left;
    width: 100%;
}

.template-3 .left-upload:after,
.template-3 .left-upload:before{
    right: 0;
    transform: translateY(0);    
    display: none;
}

.template-3 .field-set {
    border: none;
    padding: 0;
}

.template-3 .usertitle-preview h3 {
    font-size: 20px;
    font-weight: 700;
    color: #267cab;
    margin-bottom: 0;
}

.template-3 .left-upload .upload-preview {
    border: none;
    background: transparent;
    margin-right: 0;
    margin-top: 36%;
}

.template-3 .left-upload .upload-preview img {
    width: 69%;
}

.list-nav li.list-group-item.active img {
    filter: brightness(0%) invert(1);
}

/* flyer design */

.card-options .form-group textarea {
    border: none;
    box-shadow:none;
    padding: 0;
}

.card-options .txtara {
    height: 82px;
}

.logo-layer {
    width: 44%;
    float: left;
    text-align: center;
    overflow: hidden;
    height: 214px;
}


.flyer-content {
    float: left;
    width: 55%;
    height: 322px;
}

.flyer-infos {
    float: left;
    width: 100%;
}



.logo-layer img {
    margin: 0 auto;
    width: 30%;
    z-index: 9;
    position: absolute;
    left: 0;
    right: 0;
    top: 14%;
}

.logo-layer:after {content: "";position: absolute;left: 0;width: 103px;height: 157px;border-left: solid 66px rgb(100,186,230);border-bottom: solid 86px transparent;border-top: solid 69px transparent;top: 0;}

.logo-layer:before {
    content: "";
    position: absolute;
    top: 0;
    width: 60px;
    height: 76px;
    border-top: solid 117px rgb(33, 79, 125);
    border-left: solid 132px transparent;
    border-right: solid 101px transparent;
    left: -27px;
    z-index: 2;
}

.userflyer-preview h2::first-word{
    color:#000;
}

.userflyer-preview h2 {
    width: 230px;
    font-weight: 700;
    color: #062c52;
    font-family: Arial, Helvetica, sans-serif;
}

.userflyer-preview p {
    color: #666666;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}

.healine-content h4 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    color: #062c52;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


.healine-content p.sub-headline {
    font-weight: 700;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.flyer-content .social-list {
    float: left;
}

.bga-blue ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.bga-blue {
    background: #214f7d;
    padding: 15px 25px;
}

.bga-blue ul li {
    color: #fff;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    margin-bottom: 4px;
}

.bga-blue ul li img {
    vertical-align: middle;
    margin-right: 15px;
}

.bga-blue ul li span {
    margin: 0 7px;
}

.info-txt p {
    margin: 0;
}

.info-txt {
    padding: 0px 25px;
    /* overflow: hidden; */
}

.info-txt:after {content: "";position: absolute;height: 713px;left: -100px;/* right: 0; */margin: 0;top: 0;z-index: -1;width: 905px;background: #214f7d;transform: rotate(18deg);}

.inner-cicle {
    width: 153px;
    height: 153px;
    border-radius: 100%;
    background: #f8f2f2;
    text-align: center;
    padding: 15px;
    box-shadow: #d2d2d2 0px 0px 11px 0px;
}

.flyer-design{
    overflow: hidden;
    float: left;
    width: 100%;
}

.main-circle {
    width: 125px;
    height: 124px;
    border: 2px solid #64bae6;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: inset #f8f2f2 0px 0px 0px 11px;
    background: #214f7d;
}

.visit-block {
    top: 4px;
}

.main-circle a {
    margin: auto;
    color: #fff;
    text-transform: capitalize;
    font-size: 17px;
}

.flyer-infos h6, .flyer-infos p {
    color: #fff;
}

.flyer-infos  h6 {
    padding-top: 30px;
}

/* css for account settings */

.blue-main {
    background-image: linear-gradient(95deg, #4184c4 7%, #3079c1 109%);
    width: 100%;
    float: left;
    padding: 17px;
    margin-bottom: 40px;
}

.blue-main h6 {
    float: left;
    color: #fff;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 100;
}

.blue-main a {
    text-decoration: none;
    float: right;
}

.blue-main img {
    width: 25px;
}

.profile-pic {
    text-align: center;
    float: left;
    width: 100%;
    padding: 20px 0;
}

.profile-pic p {
    text-transform: uppercase;
    color: #3079c1;
}

.profile-pic input[type="file"] {
    opacity: 0;
    z-index: 3;
    position: relative;
    top: -20px;
}

.profile-pic  p.btn-txt {
    position: absolute;
    bottom: 28px;
    margin: 10px auto;
    right: 0;
    left: 0;
    background: #3079c1;
    width: 99px;
    color: #fff;
    padding: 5px 0;
}

.profile-pic img {
    margin-bottom: 34px;
    width: 100px;
}

.account-frm label {
    text-transform: uppercase;
    width: 100%;
    color: #3079c1;
    text-decoration: underline;
}

.account-frm span {
    float: right;
    color: #3079c1;
    text-decoration: underline;
    cursor: pointer;
}

.account-frm span img {
    width: 14px;
    margin-right: 8px;
}

.editable-fields {
    float: left;
    width: 100%;
}

.editable-fields .form-control {
    border: none;
    padding: 0;
    box-shadow: none;
    color: #000;
}

.editable-fields .form-group {
    border-bottom: 1px solid #ddd;
    padding-bottom: 12px;
}

.editable-fields {
    opacity: 0;
    visibility: hidden;
    height: 20px;
    transition: all ease 0.5s;
}

.editable-fields.openfield {
    height: auto;
    opacity: 1;
    visibility: visible;
}

.save-itm {
    float: right;
}

.save-itm .wht {
    background: transparent;
    border: 1px solid #ddd;
    color: #000000;
    opacity: 0.8;
}

.save-itm  .btn {
    font-size: 16px;
    padding: 5px 17px;
    border-radius: 0px;
    margin-left: 16px;
}

.save-itm .blue {
    background: #3079c1;
    color: #fff;
}

.account-frm {
    padding: 19px;
    float: left;
    width: 100%;
}

.other-op a {
    text-transform: uppercase;
    text-decoration: underline;
}

.other-op a.rgt {
    float: right;
    text-transform: capitalize;
}

/* Subscription plan starts */
.blue-main h6 span {
    text-transform: capitalize;
    font-size: 17px;
}

.subscription-plan {
    float: left;
    width: 100%;
    text-align: center;
    padding: 25px;
    box-sizing: border-box;
    min-height: 390px;
    margin-bottom: 30px;
}

.plan-type h6 {
    font-size: 23px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
    color: #387ec3;
}

.plan-names ul {
    padding: 0;
    list-style-type: none;
    text-align: left;
}

.bg-gray {
    background: #f7f7f7;
}

.plan-price span {
    font-size: 56px;
    color: #377ec2;
}

.plan-type {
    padding: 10px;
    border-bottom: 1px dashed #cec5c5;
}

.bg-gray .plan-type h6 {
    color: #666666;
}

.plan-names {
    float: left;
    width: 100%;
    padding: 20px;
    min-height: 145px;
}

.cta.act {
    float: left;
    width: 100%;
}

.cta.act .gray-btns {
    margin: auto;
    background: #a5a5a5;
    padding: 14px 32px;
    color: #fff;
}

.plan-names ul li {
    margin-bottom: 17px;
}

.plan-names ul li img {
    margin-right: 27px;
}

p.renew.opt {
    background: #367dc2;
    padding: 14px 20px;
    color: #fff;
}

.subscription-plan {
    box-shadow: #b9acac -1px -2px 6px 0px;
}

.cta.act a, .cta.act p {
    font-size: 14px;
}

.subscribe-model {
    max-width: 1007px;
}

/* social shares */

.social-shares ul {
    list-style-type: none;
    padding: 0;
}

.social-shares ul li {
    display: inline-block;
    margin: 0 15px;
    width: 39%;
    margin-bottom: 15px;
}

.social-shares ul li .btn-social {
    text-decoration: none;
    padding: 15px 22px;
    text-transform: capitalize;
    font-size: 17px;
    color: #fff;
    display: block;
}

.social-shares ul li  a.fb {
    background: #5776a0;
}

.social-shares ul li .btn-social img {
    width: 23px;
    margin-right: 10px;
}

.social-shares ul li a.whatsapp {
    background: #11a011;
}


.social-shares ul li  a.twt {
    background: #64bae6;
}



.social-shares ul li a.email-msg {
    background: #d1403f;
}

.social-shares ul li .btn-social.fb img {width: 14px;}
.social-shares ul li .btn-social.lindn {
    background: #3079c1;
}

@media screen and (max-width: 2200px) and (min-width: 1600px){
    .template-3 .left-upload .upload-preview{
        margin-top: 27%;
    }
}